<?php include('beforebody.htm'); ?>
<div id="doc3" class="yui-t7">
    <div id="hd" role="banner">
            <? CHtml::insert('top_backstage.htm'); ?>
    </div>
    <div id="bd" role="main">
		<div class="yui-g">
            <div id="userCenter">
                <? CHtml::insert('navigation.htm'); ?>
            </div>
		</div>
	</div>
    <div id="ft" role="contentinfo">
    </div>
</div>
<?php include('afterbody.htm'); ?>
