﻿body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,blockquote{margin:0;padding:0}body{font-size:12px;font-family:\5B8B\4F53,Arial;line-height:1.5}ul,ol{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold}input,textarea,select{font-size:12px;vertical-align:middle}img{border:none}a{text-decoration:none}a:hover{text-decoration:underline}.fl{float:left}.fr{float:right}.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}.fb{font-weight:bold}.dis{display:block}.undis,.logo h1{display:none}.disline{display:inline}.clear{clear:both;height:0;overflow:hidden;display:block}.clear10{clear:both;height:10px;overflow:hidden;display:block}.cl{clear:left}.cr{clear:right}.cb{clear:both}.crumbs,.crumbs a,.red{color:#ee2e1f;}

#top_home{width:970px;margin:0 auto;overflow:hidden;padding-top:10px;}
.logo{float:left;}
#top_home dl{float:right;width:700px;}
#top_home dl dd{float:left;width:700px;line-height:26px;}
#top_home dl dd a{float:right;font-size:13px;color:#333;padding-right:15px;}
#top_home dl dt{float:left;width:700px;}
#top_home form{float:right;width:970px;padding-top:10px;height:43px;}
#top_home form input{float:right;width:308px;height:33px;line-height:33px;border:none;background:url(../../../images/hunt_input.gif) no-repeat;text-indent:30px;color:#afafaf;padding:0;}
#top_home form button{float:right;width:70px;height:33px;background:url(../../../images/hunt.gif) no-repeat;border:none;}
#top_home form a{float:right;padding-left:10px;line-height:33px;font-size:14px;color:#505050;}
#top_home form a.accounts{background:url(../../../images/triangle.gif) no-repeat right top;padding-right:14px;}

#main{width:970px;margin:0 auto;overflow:hidden;padding-bottom:10px;}
.itemize {float:left;width:205px;}
.contorl{float:left;width:203px;border:1px solid #ddd;margin-bottom:10px;}
.contorl h1{float:left;width:203px;line-height:28px;font-size:14px;color:#e50014;text-indent:30px;background:url(../../../images/contorl_h1.gif) no-repeat;border-bottom:1px solid #ddd;}
.contorl dl{float:left;width:203px;line-height:25px;background:url(../../../images/contorl.gif) repeat-x top;padding-top:11px;}
.contorl dl dt{float:left;width:203px;text-align:center;}
.contorl dl dd{float:left;padding-left:40px;width:163px;}
.contorl dl dd a{float:left;width:80px;color:#0c4ef3;}
.contorl ul{float:left;width:189px;line-height:25px;background:url(../../../images/contorl.gif) repeat-x top;padding:7px 0 3px 14px;}
.contorl ul li{float:left;width:180px;line-height:25px;background:url(../../../images/contorl_li.gif) no-repeat top left;text-indent:20px;}
.contorl ul li a{color:#303030}
.advise{float:left;width:205px;}

.audit{float:right;width:725px;border:1px solid #c9181e;padding:10px;}
.audit .manage{width:732px;height:29px;line-height:29px;font-size:16px;font-weight:bold;border-bottom:1px solid #d4d4d4}
.audit .title{width:693px;line-height:40px;padding:0 20px 0 20px;font-size:16px;font-weight:bold;color:#bf0000;text-align:center}
.audit .explain{width:723px;height:70px;margin-bottom:5px;font-size:14px;line-height:25px;padding-left:10px}
.audit .explain p{width:723px;float:left;height:22px;line-height:22px}
.audit .explain p span{width:150px;font-size:13px;float:left}
.audit .explain a{color:#000}
.tuis2{float:left;width:733px}
.tuis2 .sp{width:468px;border:1px solid #d4d4d4;float:left;padding-bottom:5px;margin-right:10px}
.tuis2 .sp .sp1{width:458px;height:30px;background:url(../../../images/bsbg_8.gif) repeat-x;float:left;padding-left:10px;font-size:16px;font-weight:bold;line-height:30px;float:left}
.tuis2 .sp .sp2{width:458px;padding-left:10px;float:left}
.tuis2 .sp .sp2 ul{width:458px;}
.tuis2 .sp .sp2 ul li{width:448px;line-height:28px;float:left;border-bottom:1px dashed #d4d4d4}
.tuis2 .sp .sp2 ul li.br{border:none}
.tuis2 .sp .sp2 ul li.ig{margin-bottom:5px;border:none;text-align:center}
.tuis2 .sp .sp2 ul li p{float:left;width:150px;}
.tuis2 .sp .sp2 ul li span{font-weight:bold}
.tuis2 .sw{width:246px;border:1px solid #f5e6bc;background:#fef9ea;float:left;padding-bottom:10px}
.tuis2 .sw .sw1{width:236px;height:30px;line-height:30px;border-bottom:1px solid #f5e6bc;font-weight:bold;font-size:16px;padding-left:10px}
.tuis2 .sw .sw2{width:236px;padding-left:10px;}
.tuis2 .sw .sw2 ul{width:226px;float:left;}
.tuis2 .sw .sw2 ul li{float:left;width:226px;padding:5px 0;line-height:25px;border-bottom:1px dashed #d4d4d4}
.tuis2 .sw .sw2 ul li span{font-size:14px;font-weight:bold}
.tuis2 .sw .sw2 ul li p{float:left;width:78px}
