body,div,p,span,label,ul,ol,li,dl,dd,dt,input,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
body{font-size:12px;font-family:Arial,"宋体";text-align:left;background:#ffefc8;color:#434343}
img{border:none}
ul,ol,li{list-style:none}
a{text-decoration:none}a:hover{text-decoration:underline}
.clear{clear:both}

#box{margin:0 auto;width:970px;}
#top{width:968px;height:68px;margin-bottom:5px;border:1px solid #cfcfcf;border-top:none;color:#676767}
#top .hd{width:958px;height:30px;background:url(.../../../images/showbg_1.gif) repeat-x;line-height:30px;padding-left:10px}
#top .hd span{float:left;width:270px;}
#top .hd span.et{float:right;width:180px}
#top .hd span.et a{color:#676767}
#top .bd{width:968px;height:38px;background:url(../../../images/showbg_2.gif) repeat-x;line-height:38px}
#top .bd span{float:right;color:#06C;width:150px;line-height:10px;padding-top:15px}
#top .bd span.biao{float:left;width:275px;height:36px;line-height:30px;background:url(../../../images/showbg_3.gif) no-repeat 10px 5px;padding:0;}
#top .bd span.style{width:60px;float:left;padding:0;line-height:14px}
#top .bd span.a{float:left;display:block;}
#banner{width:912px;height:130px;margin-bottom:5px;background:url(../../../images/style1_bg1.gif) no-repeat;padding:44px 0 0 58px;font-family:"黑体";}
.tuan{width:381px;height:74px;float:left;line-height:35px;text-align:left;padding:10px 0 0 20px;color:#000}
.tuan span{font-size:40px;font-weight:bold;}
.tuan span.wang{font-size:24px;font-weight:bold;/*font-style:italic;*/}
.tell{width:435px;height:60px;float:right;padding:60px 45px 0 0 ;font-size:22px;font-weight:bold;color:#333;line-height:25px;text-align:right}
.b_require{width:373px;height:88px;margin-bottom:5px;border:1px solid #cfcfcf;}
.j_require{width:373px;height:147px;border:1px solid #cfcfcf;}
.b_require ul,.j_require ul{width:373px;}
.b_require ul li,.j_require ul li{width:363px;height:28px;border-bottom:1px solid #cfcfcf;float:left;padding-left:10px}
.b_require ul li.bb,.j_require ul li.bb{border-bottom:none}
.b_require ul li.bt,.j_require ul li.bt{height:30px;line-height:30px;background:#e2e2e2;color:#000;font-size:14px;background:url(../../../images/showbg_15.gif) repeat-x;font-weight:bold}
.b_require ul li span,.j_require ul li span{float:left;width:181px;height:28px;line-height:28px;}
#step{width:968px;height:118px;margin-bottom:5px;background:#fff;border:1px solid #cfcfcf;}
#step .hd{width:941px;height:33px;background:url(../../../images/ddtsbg_1.gif) no-repeat left;padding-left:27px;line-height:34px;font-size:14px;color:#000;font-weight:bold}
#step .fd{width:887px;height:72px;padding:12px 0 0 74px;text-align:center;font-size:14px}
.stepys{width:200px;height:60px;float:left;background:url(../../../images/ddtsbg_4.gif) no-repeat left top;}
#step .fd span{width:200px;height:30px;float:left;line-height:30px;color:#fff;font-weight:bold}
.stephs{width:200px;height:60px;float:left;background:url(../../../images/ddtsbg_4.gif) no-repeat left bottom;}
.aw{width:112px;height:22px;float:left;background:url(../../../images/ddtsbg_5.gif) no-repeat center top;margin-top:20px}
.aw1{width:112px;height:22px;float:left;background:url(../../../images/ddtsbg_5.gif) no-repeat center bottom;margin-top:20px}
#content{width:968px;margin-bottom:5px;background:#fff;border:1px solid #cfcfcf;}
#content .hd{width:855px;height:44px;background:url(../../../images/ddtsbg_2.gif) repeat-x left;line-height:44px;font-size:14px;color:#000;font-weight:bold;font-size:16px;text-align:center;margin-left:63px;background:url(../../../images/ddtsbg_11.gif) no-repeat bottom;border-bottom:1px dashed #999;clear:both}
#content .fd{width:905px;padding:5px 0 0 63px}
.yi{width:855px;height:104px;line-height:35px;font-size:14px;color:#000;}
.yi p{text-indent:25px;float:left;width:855px;padding:0;margin:0}
.yi p.red{text-indent:25px;color:#f00;float:left;width:855px;padding:0;margin:0}
.er{width:625px;height:35px;margin:8px 0 15px 0;padding-left:235px}
.er input{float:left;width:158px;height:33px;background:url(../../../images/ddtsbg_7.gif) no-repeat bottom;font-size:14px;font-weight:bold;color:#fff;border:none;cursor:pointer;margin-right:30px}
#tuijian{width:968px;margin-bottom:5px;background:#fff;border:1px solid #cfcfcf;}
#tuijian .hd{width:945px;height:37px;line-height:34px;padding-left:23px;background:url(../../../images/ddtsbg_12.gif) repeat-x left bottom;font-size:14px;font-weight:bold;color:#000;position:relative;margin-bottom:5px}
#tuijian .hd .dw{width:135px;height:40px;position:absolute;left:-9px;top:1px;background:url(../../../images/ddtsbg_13.gif) no-repeat left;color:#fff;padding-left:44px;line-height:38px}
#tuijian .fd{width:943px;padding:7px 0 0 25px;height:145px}
#tuijian .fd p{width:127px;height:62px;margin:0 25px 10px 0;float:left}

#footer{width:968px;height:172px;border:1px solid #d3d2d2;border-bottom:none;background:#fff}
#footer .left{width:228px;height:172px;float:left;background:url(../../../images/logo.gif) no-repeat center;}
#footer .center{width:488px;height:130px;float:left;background:#ededed;padding-top:42px;text-align:center;line-height:30px;color:#666}
#footer .center a{color:#666}
#footer .right{width:236px;height:160px;float:left;background:url(../../../images/showbg_4.gif) no-repeat center;padding:12px 0 0 12px;}
#footer .right .hd{width:220px;height:42px;text-align:center;color:#fff;line-height:19px;padding-top:5px;background:none}
#footer .right .hd span{float:none}
#footer .right .fd{width:190px;height:97px;padding:3px 0 0 23px;line-height:19px}
