<?php include('beforebody.htm'); ?>
<div id="doc3" class="yui-t7">
    <div id="hd" role="banner">
      <? CHtml::insert('index_top.htm'); ?>
    </div>
    <div id="bd" role="main">
        <div id="box">
            <? CHtml::insert('index_daohang.htm'); ?>
        </div>
        <div class="yui-g" style="text-align:center;">
             <? CHtml::insert('error.htm'); ?>
        </div>
	</div>
    <div id="ft" role="contentinfo">
        <? CHtml::insert('home_foot.htm'); ?>
    </div>
</div>
<?php include('afterbody.htm'); ?>
