.home_login { float: left;width: 272px;height: 344px;}
.home_login h1 {float: left;width: 272px;line-height: 34px;text-align: center;color: #373737;font-family:Arial,Helvetica,sans-serif;background:url(../../../images/login_h_1.gif) no-repeat;font-size:16px;}
.home_login .div_login {width:270px;height:310px;border-right:1px solid #d1d1d1;border-left: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;clear:both;}
.home_login ul{float:left;width:226px;padding:10px 22px 0 22px;color: #010101;overflow:hidden;_padding:0;_margin:10px 0 0 10px;}
.home_login ul li{clear:both;width:226px;line-height:25px;min-height:25px;padding-bottom:10px;_padding:0;_line-height:20px;margin:10px 0;}
.home_login ul li img.right{background:none;padding:0;float:none;width:17px;height:17px;}
.home_login ul li span{float:left;width:50px;height:20px;}
.home_login ul li input{float:left;width:150px;height:18px;color:#CACACA;margin:0 5px 0 0;}
.home_login ul li input.red{float:left;width:152px;height:18px;color:#CACACA;border:1px solid #ED8F8F;background:#FFF2F2;}
.home_login ul li a{float:left;width:200px;text-align:center;color:#010101;}
.home_login ul li div.wrong{clear:both;display:block;float:right;margin:0 22px 8px 0;width:152px;border-bottom:1px solid #ED8F8F;border-left:1px solid #ED8F8F;border-right:1px solid #ED8F8F;color:#C53032;line-height:20px;_margin:0 11px 0 0;}
.home_login p {float: left;width:270px;line-height:24px;text-align:center;color:#cacaca;height:48px;_width:269px;}
.login_submit { float: left;width: 180px;height: 36px;padding-left: 90px;border-bottom: 1px dashed #d8d8d8;_width:179px;}
.login_submit input {float: left;width: 84px;line-height: 27px;height: 27px;text-align:center;font-size: 16px;color: #fff;font-family: "黑体";background: url(../../../images/login_submit_1.gif) no-repeat;border:none;}
.login_ne {float: left;width: 270px;line-height: 47px;height: 47px;color:#333;text-align:center;_width:269px;}
.login_ne a{color:#121186;text-decoration: underline;}
.saas {float: right;width: 686px;height: 342px;border: 1px solid#c9c9c9;background: url(../../../images/saas_1.gif) no-repeat;}
.saas h1 {float: left;width: 686px;line-height: 60px;height: 68px;font-size: 22px;font-family:Arial,Helvetica,sans-serif;text-align: center;}
.saas ul {float: left;width: 654px;padding-left: 31px; }
.saas ul li {float: left;width: 305px;padding-left: 22px;font-size: 20px;font-family:Arial,Helvetica,sans-serif;line-height: 50px;color: #860820;font-weight:bold;}
.saas ul li.green{color:#004900;}
.saas ol { float: left;width: 290px;padding-left: 29px; }
.saas ol.supplier {padding-left: 64px;width: 301px; }
.saas ol li { float: left;width: 292px;line-height: 40px; }
#bottom {  width: 780px;padding-left: 190px;background: #e5e5e5;border-top: 1px solid#ccc;overflow: hidden;margin: 0 auto;clear: both;}
#bottom p {clear: both;width: 590px;background: #f1f1f1;line-height: 150 % ;text-align: center;color: #b7b7b7;padding: 10px 0 10px 0; }
#bottom p a {  color: #b7b7b7; }
