body,div,p,span,label,ul,ol,li,dl,dd,dt,input,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
body{font-size:12px;font-family:Arial,"宋体";text-align:left;background:url(../images/qdsbg_4.gif) repeat-x;color:#434343}
img{border:none}
ul,ol,li{list-style:none}
a{text-decoration:none}a:hover{text-decoration:underline}
.clear{clear:both}

#box{margin:0 auto;width:970px;}
#top{width:970px;height:35px;padding-top:5px}
#top input{width:159px;height:30px;background:url(../../../images/push/qdsbg_3.gif) no-repeat;line-height:30px;float:right;color:#fff;font-weight:bold;border:none}
#banner{width:964px;height:294px;margin-bottom:5px;padding:4px 0 0 4px;font-family:"黑体";border:1px solid #cfcfcf;background:#fff}
#step{width:966px;height:81px;margin-bottom:5px;background:#fff;border:2px solid #88bf1f;position:relative;padding-top:35px}
#step .hd{width:941px;height:42px;background:url(../../../images/push/qdsbg_2.gif) no-repeat left;padding-left:27px;line-height:35px;font-size:14px;color:#649900;font-weight:bold;position:absolute;left:-6px;top:5px;}
#step .fd{width:953px;height:63px;padding:12px 0 0 15px;text-align:center;font-size:14px;}
.stepys{width:200px;height:60px;float:left;background:url(../../../images/push/ddtsbg_4.gif) no-repeat left top;}
#step .fd span{width:200px;height:30px;float:left;line-height:30px;color:#fff;font-weight:bold}
.stephs{width:200px;height:60px;float:left;background:url(../../../images/push/ddtsbg_4.gif) no-repeat left bottom;}
.aw{width:36px;height:15px;float:left;background:url(../../../images/push/qdsbg_1.gif) no-repeat center top;margin-top:25px;padding:0 5px 0 5px}
.aw1{width:36px;height:15px;float:left;background:url(../../../images/push/qdsbg_1.gif) no-repeat center bottom;margin-top:25px;padding:0 5px 0 5px}
#content{width:968px;height:580px;margin-bottom:5px;background:#fff;border:1px solid #cfcfcf;}
#content .hd{width:941px;height:33px;background:url(../../../images/push/qdsbg_5.gif) repeat-x left;padding-left:27px;line-height:33px;font-size:14px;color:#000;font-weight:bold}
#content .fd{width:953px;height:580px;padding:5px 0 0 15px}
.one{width:934px;height:106px;margin-bottom:7px;background:#f0f0f0;border:1px solid #e3e3e3}
.one .wt{width:70px;height:35px;float:left;background:url(../../../images/push/qdssbg_1.gif) no-repeat right top;margin-top:7px}
.one .et{width:837px;height:106px;float:right}
.one .et dl,.two .et dl,.three .et dl,.four .et .ht dl{width:837px;height:23px;float:left}
.one .et dl dd,.two .et dl dd,.three .et dl dd,.four .et .ft dl dd,.four .et .ht dl dd{width:16px;height:18px;float:left;margin-right:3px}
.one .et dl dd input,.two .et dl dd input,.three .et dl dd input,.four .et .ft dl dd input,.four .et .ht dl dd input{float:left;width:14px;height:14px}
.one .et dl dt{width:82px;height:18px;float:left;line-height:15px}
.two{width:934px;height:70px;margin-bottom:7px;background:#f0f0f0;border:1px solid #e3e3e3}
.two .wt{width:70px;height:35px;float:left;background:url(../../../images/push/qdssbg_1.gif) no-repeat right -35px;margin-top:7px}
.two .et{width:837px;height:70px;float:right}
.two .et dl dt{width:132px;height:18px;float:left;line-height:15px}
.three{width:934px;height:88px;margin-bottom:7px;background:#f0f0f0;border:1px solid #e3e3e3}
.three .wt{width:70px;height:35px;float:left;background:url(../../../images/push/qdssbg_1.gif) no-repeat right -70px;margin-top:7px}
.three .et{width:837px;height:88px;float:right}
.three .et dl dt{width:120px;height:18px;float:left;line-height:15px}
.four{width:934px;height:80px;background:#f0f0f0;border:1px solid #e3e3e3}
.four .wt{width:70px;height:35px;float:left;background:url(../../../images/push/qdssbg_1.gif) no-repeat right bottom;margin-top:7px}
.four .et{width:837px;height:auto;float:right}
.four .et .ht{width:837px;height:60px;}
.four .et .ht dl dt{width:132px;height:18px;float:left;line-height:15px}
.four .et .ft{width:822px;height:125px;background:url(../../../images/push/ddtsbg_6.gif) no-repeat left top;padding:5px 0 0 15px}
.four .et .ft dl{width:568px;height:23px;float:left}
.four .et .ft dl dt{width:125px;height:18px;float:left;line-height:15px}
.four .et .ft dl dt.yw{width:85px;}
.four .et .ft dl dt.zt{width:75px;}
.four .et .ft dl dt.qt{width:60px;}
.five{width:599px;height:35px;margin-top:8px;padding-left:355px}
.five input{float:left;width:198px;height:33px;background:url(../../../images/push/ddtsbg_7.gif) no-repeat;font-size:14px;font-weight:bold;color:#fff;border:none;cursor:pointer}

#footer{width:968px;height:172px;border:1px solid #d3d2d2;border-bottom:none;background:#fff}
#footer .left{width:228px;height:172px;float:left;background:url(../../../images/push/logo.gif) no-repeat center;}
#footer .center{width:488px;height:130px;float:left;background:#f3f3f3;padding-top:42px;text-align:center;line-height:30px;color:#666}
#footer .center a{color:#666}
#footer .right{width:236px;height:160px;float:left;background:url(../../../images/push/showbg_4.gif) no-repeat center;padding:12px 0 0 12px;}
#footer .right .hd{width:220px;height:42px;text-align:center;color:#fff;line-height:19px;padding-top:5px;background:none}
#footer .right .hd span{float:none}
#footer .right .fd{width:190px;height:97px;padding:3px 0 0 23px;line-height:19px}

#home_foot{width:780px;padding-left:190px;background:#e5e5e5;border-top:1px solid #ccc;overflow:hidden;margin:20px auto 0;clear:both;}
#home_foot p{clear:both;width:590px;background:#f1f1f1;line-height:150%;text-align:center;color:#b7b7b7;padding:10px 0 10px 0;}
#home_foot p a{color:#b7b7b7;}

#case img{border:none}
#case ul,ol,li{list-style:none}
#case a{text-decoration:none}a:hover{text-decoration:underline}
#case   {width:430px;height:138px;margin:0 auto;border:solid 6px #aeaeae;background:#fFF;position:absolute;top:50%;left:40%}
#case .hd{width:430px;height:24px;border-bottom:1px solid #dadada;line-height:24px;float:left}
#case .hd .left{width:330px;height:24px;float:left;color:#999;padding-left:10px;}
#case .hd .right{width:12px;height:19px;float:right;padding:6px 6px 0 0;}
#case .fd{width:430px;height:112px;background:url(../../../images/supply/biaoqing.gif) no-repeat 13px 8px;float:left}
#case .fd .you{width:270px;height:100px;float:right;padding-top:12px}
#case .fd .you ul{width:228px;font-size:14px;font-weight:bold;line-height:40px}
#case .fd .you ul li{width:228px;height:50px;float:left}
#case .fd .you ul li input{width:85px;height:30px;float:left;margin-right:10px;background:url(../../../images/supply/loginbj.gif) no-repeat;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;border:none;margin-left:70px}
