/* 
		This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
		TextboxList is not priceless for commercial use. See <http://devthought.com/projects/jquery/textboxlist/> 
		Purchase to remove copyright
*/

.textboxlist-autocomplete { position: absolute; }
.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results { opacity: 0.9; filter: alpha(opacity=90); background: #eee; -webkit-box-shadow: 0 3px 3px #ccc; -moz-box-shadow: 0 3px 3px #ccc; box-shadow: 0 3px 3px #ccc; border: 1px solid #999; border-top: none; display: none; /* jun add begin */ position: absolute; z-index: 9999; width: 100%; /* jun add end */ }
.textboxlist-autocomplete-placeholder { padding: 5px 7px; }
.textboxlist-autocomplete-results { margin: 0; padding: 0; }
.textboxlist-autocomplete-result { margin: 0; padding: 5px; list-style-type: none; background: #eee; }
.textboxlist-autocomplete-result-focus { background: #C6D9E4; }
.textboxlist-autocomplete-highlight { background: #EEF0C4; font-weight: bold; }

/*  TextboxList.Autocomplete Style guidelines 
			Try to keep .textboxlist-autocomplete {} as it is now
			If you apply custom styles to placeholder, also apply them to results, like it is now.
			.textboxlist-autocomplete-result {} needs a background for IE.
*/
