/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
	background: #f8f8f8;
	color: black;
	padding: 10px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px; 
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 3px 20px;
	background: #b7c4dc;
	border-bottom: 1px solid #a1aec5;
	font-weight: bold; 
	text-shadow: 1px 1px 0 #fff;
	color: black;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
}

.MooDialog .close {
	background: url(../../images/MooDialog/dialog-close.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	top: -5px;
	left: -5px;
	position: absolute;
}

.MooDialog .buttons {
	text-align: right;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

.MooDialog .MooDialogAlert, .MooDialog .MooDialogConfirm, .MooDialog .MooDialogPromt, .MooDialog .MooDialogError {
	background: url(../../images/MooDialog/dialog-warning.png) no-repeat;
	padding-left: 40px;
	min-height: 40px;
}

.MooDialog .MooDialogConfirm, .MooDialog .MooDialogPromt {
	background: url(../../images/MooDialog/dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
	background: url(../../images/MooDialog/dialog-error.png) no-repeat;
}

.MooDialog p {
    padding:5px;
    margin:10px 0;
}

.MooDialog .buttons input {
    padding: 1px 5px;
    margin-left: 5px;
}
